body {
  width: 100%;
  height: 100%;
  background-color: $white;
  font-family: $font-family-primary;
  font-size: 16px;
  color: $primary;
  display: inherit !important;
  overflow-x: hidden;

  .dialog-off-canvas-main-canvas {
    height: auto !important;
    //overflow-x: hidden;
    display: block !important;
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-base;
  font-weight: 400;
  color: $primary;
}

h1,
.h1 {
  margin-bottom: rem(32px);
  font-size: rem(32px);
  line-height: rem(40px);
}

h2,
.h2 {
  margin-bottom: rem(21px);
  font-size: rem(30px);
  font-weight: $font-weight-regular;
  line-height: rem(36px);
}

h3,
.h3 {
  margin-bottom: rem(21px);
  font-size: rem(21px);
  line-height: rem(33px);
}

h4 {
}

h5 {
}

h6 {
}

p {
  font-size: rem(18px);
}

ul {
  li {
  }
}

ol {
  &.lower-latin li {
    list-style-type: lower-latin !important;
  }

  &.lower-roman li {
    list-style-type: lower-roman !important;
  }

  &.upper-latin li {
    list-style-type: upper-latin !important;
  }

  &.upper-roman li {
    list-style-type: upper-roman !important;
  }
}

ul,
ol {
  display: inline-block;
  padding-left: rem(16px);
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

svg {
  max-width: 100%;
  height: auto;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: $white;
  border-left: rem(1px) solid $grey-300;
  border-right: rem(1px) solid $grey-300;

  &.push {
    @include media(lg) {
      padding-top: rem(133px);
    }
  }
}

.contextual-region {
  position: inherit;
}


.region-content {
  padding: 0;
}

.container {
  max-width: rem(1272px);
  margin: 0 auto;
  padding: 0 rem(12px);

  @include media(md) {
    padding: 0 rem(32px);
  }

  @include media(lg) {
    padding: 0 rem(12px);
  }


  @media (max-width: 992px) {
    max-width: 100% !important;
  }
}
// row
/* .row {
  margin-right: 0;
  margin-left: 0;

  > * {
    padding-right: rem(25px);
    padding-left: rem(25px);

    @include media(md) {
      padding-right: 0;
      padding-left: 0;
    }
  }
} */


main {
  position: relative;
  z-index: 1;
  }
