// stylelint-disable
// [start] _mixin_mediaqueries.scss
// NO EDITAR NUNCA ESTE ARCHIVO!!!
// @media all and (max-width: 30em) { -480  }
// @media all and (min-width: 30em) { +480  }
// @media all and (min-width: 48em) { +768  }
// @media all and (min-width: 60em) { +960  }
// @media all and (min-width: 64em) { +1024  }
// @media all and (min-width: 75em) { +1200  }
// @media all and (min-width: 100em) { +1600  }
//  ==  ==  ==  ==  ==   Mixins para los Media Queries   ==  ==  ==  ==  ==
// $media-xxs: '(max-width : 30em)'; -480px
// $media-xs: '(min-width : 30em)'; +480px
// $media-sm: '(min-width: 48em)'; +768px
// $media-md: '(min-width: 60em)'; +960px
// $media-lg: '(min-width: 64em)'; +1024px
// $media-xl: '(min-width: 75em)'; +1200px
// $media-xxl: '(min-width: 100em)'; +1600px
@mixin media($consulta: md) {
  $media-xxs: '(max-width : ' + $xs + ')';
  $media-xs: '(min-width : ' + $xs + ')';
  $media-sm: '(min-width: ' + $sm + ')';
  $media-md: '(min-width: ' + $md + ')';
  $media-lg: '(min-width: ' + $lg + ')';
  $media-xl: '(min-width: ' + $xl + ')';
  $media-xxl: '(min-width: ' + $xxl + ')';
  $media-xl3: '(min-width: ' + $xl3 + ')';
  $media-xl4: '(min-width: ' + $xl4 + ')';

  @if $consulta == xxs {
    @media #{$media-xxs} {
      @content;
    }
  }

  @if $consulta == xs {
    @media #{$media-xs} {
      @content;
    }
  } @else if $consulta == sm {
    @media #{$media-sm} {
      @content;
    }
  } @else if $consulta == md {
    @media #{$media-md} {
      @content;
    }
  } @else if $consulta == lg {
    @media #{$media-lg} {
      @content;
    }
  } @else if $consulta == xl {
    @media #{$media-xl} {
      @content;
    }
  } @else if $consulta == xxl {
    @media #{$media-xxl} {
      @content;
    }
  } @else if $consulta == xl3 {
    @media #{$media-xl3} {
      @content;
    }
  } @else if $consulta == xl4 {
    @media #{$media-xl4} {
      @content;
    }
  }
}

// [end] _mixin_mediaqueries.scss
