
<div class="paragraph paragraph-cabecera paragraph-pg-header paragraph--type--cabecera paragraph--view-mode--default paragraph--title--Comentario_eliminado">
    <div class="container">
      <div class="paragraph-pg-header__box">
        <div class="title">
            {{'Experiencia guardada'|t}}
        </div>
        <div class="subtitle">
            {{'La experiencia ha sido almacenada en la plataforma.'|t}}
        </div>
        <a href="/reto/{{reto_id}}#experience" class="btn btn--link btn--link-back">{{ 'Volver'|t}}</a>
      </div>

      <div class="paragraph-pg-header__image">
        <img loading="lazy" src="/sites/default/files/2023-11/Recurso%2010%201%20%282%29_6.png" width="326" height="252" alt="Experiencia creada" class="img-fluid">      
     </div>
    </div>
</div>
