.actions {
  width: 100%;

  @include media(md) {
    width: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @include media(md) {
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: rem(12px);

    @include media(md) {
      width: auto;
      margin-bottom: 0;
      margin-left: rem(12px);
    }

    a {
      width: 100%;

      @include media(md) {
        width: auto;
      }

      &::before {
        content: '';
        width: rem(20px);
        height: rem(20px);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: rem(12px);
        transform: translateY(-50%);
      }
    }

    &.new {
      a {
        &::before {
          background-image: url('../images/icons/icon-new.svg');
        }
      }
    }

    &.admin {
      a {
        &::before {
          background-image: url('../images/icons/icon-admin.svg');
        }
      }
    }

    &.statistics {
      padding: 0;
      background: none;
      a {
        &::before {
          background-image: url('../images/icons/icon-statistics.svg');
        }
      }
    }


    &:first-child {
      margin-left: 0;
    }
  }
}