.block-digitac-h-user-edit-block {
    max-width: rem(1272px);
    margin: 0 auto;
    padding: 0 rem(12px);

    @include media(md) {
        padding: 0 rem(32px);
    }

    @include media(lg) {
        padding: 0 rem(24px);
    }
}
