.block-digitac-h:not(.block-digitac-h-reto-block) {
    background-color: $grey-50;

    @include media(md) {
        padding: rem(80px) 0;
    }

    #my-form-wrapper {
        max-width: rem(1272px);
        margin: 0 auto;
        padding: 0 rem(12px);

        @include media(lg) {
            padding: 0 rem(12px) 0 rem(312px);
        }
    }

    form {
        h2 {
            margin-bottom: rem(20px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(38px);
            color: $primary;
        }

        .form-item {
            margin-bottom: rem(20px);

            label {
                margin-bottom: rem(6px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-800;
            }

            .form-text {
                min-height: rem(44px);
            }

            .form-select {
                //width: 100% !important;
                min-height: rem(44px);
            }

            .form-textarea {
                height: rem(251px);
                resize: none;
            }
        }

        .button--danger {
            display: none;
        }

        .form-submit {
            width: 100%;
            margin-top: rem(32px);
        }
    }

    .form-item-url {
        max-width: rem(1272px);
        margin: rem(32px) auto 0;
        padding: 0 rem(12px);

        @include media(md) {
            padding: 0 rem(12px) 0 rem(280px);
        }
    }

    .box-grey {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
    }
}