.block-contact {
    padding: rem(80px) 0;
    background-color: $grey-50;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(16px);

        @include media(lg) {
            grid-template-columns: 383px 1fr;
            gap: 0;
        }
    }

    &__col {

        @include media(lg) {
            padding-right: rem(111px);
        }

        .logo {
            max-width: rem(176px);
            width: 100%;
            margin-bottom: rem(24px);
        }

        p {
            margin-bottom: 0;
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $grey-600;
        }

        .rrss {
            margin-top: rem(40px);

            p {
                margin-bottom: rem(12px);
            }

            &__list {
                padding-left: 0;
                display: flex;
                list-style: none;

                .icon {
                    width: rem(24px);
                    height: rem(24px);
                    margin-right: rem(24px);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    display: inline-flex;

                    &.icon-facebook {
                        background-image: url('../images/icons/icon-facebook.svg');
                    }

                    &.icon-twitter {
                        background-image: url('../images/icons/icon-twitter.svg');
                    }

                    &.icon-linkedin {
                        background-image: url('../images/icons/icon-linkedin.svg');
                    }

                    &.icon-youtube {
                        background-image: url('../images/icons/icon-youtube.svg');
                    }
                }
            }
        }

        &:last-child {
            padding-right: 0;

            @include media(lg) {
                border-left: rem(1px) solid $grey-400;
                padding-left: 111px;
            }

            #edit-submit {
                width: 100%;
                margin-top: rem(24px);
                color: $white;
                border-color: $blue-600;
                background-color: $blue-600;

                &:hover {
                    border-color: $blue-700;
                    background-color: $blue-700;
                    color: $white;
                }
            }
        }
    }
}