.block-slider-news {
    padding-bottom: rem(88px);
    overflow-x: hidden;

    @include media(md) {

    }

    &__item {
        $blockSliderItem: ".block-slider-news__item";
        //overflow: hidden;
        padding: rem(16px) rem(16px) 0;

        &-image {
            width: 100%;
            height: rem(240px);
            margin-bottom: rem(24px);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: rem(8px) rem(8px) 0 0;
            }

            .region {
                padding: rem(4px) rem(10px) rem(4px) rem(24px);
                background-color: $white;
                border: rem(1px) solid $grey-300;
                box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
                border-radius: rem(8px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                color: $grey-700;
                position: absolute;
                top: rem(-14px);
                left: rem(15px);
                z-index: 2;

                &::before {
                    content: '';
                    width: rem(8px);
                    height: rem(8px);
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: rem(10px);
                    transform: translateY(-50%);
                }

                &-01 {
                    &::before {
                        background-color: $green;
                    }
                }

                &-02 {
                    &::before {
                        background-color: $red-500;
                    }
                }

                &-03 {
                    &::before {
                        background-color: $orange;
                    }
                }

                &-04 {
                    &::before {
                        background-color: $blue-200;
                    }
                }

            }
        }

        &-content {
            .category {
                margin-bottom: rem(8px);
                display: flex;
                align-items: center;

                .type {
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $blue-700;
                    text-transform: uppercase;
                }

                .date {
                    margin-left: rem(10px);
                    padding-left: rem(10px);
                    border-left: rem(1px) solid $blue-700;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $blue-700;
                    text-transform: uppercase;
                }

                + a.btn {
                    &::after {
                        display: none;
                    }
                }
            }

            .title,
            .title a {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(20px);
                line-height: rem(30px);
                color: $primary;
                text-align: left;
                text-decoration: none;
            }

            .title a {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                text-align: left;

                &:hover {
                    text-decoration: underline;
                }
            }

            .title {
                margin-bottom: rem(8px);
            }

            .content {
                margin-bottom: rem(20px);
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                text-align: left;

                P {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .content,
            .content p {
                font-family: $font-family-secondary;
                font-style: normal;
                font-weight: 400;
                font-size: rem(15px);
                line-height: rem(22px);
                letter-spacing: -0.2px;
                color: $grey;

                strong {
                    font-weight: 400;
                    color: $grey;
                }
            }
        }

        // flex
        &--flex {
            padding: 0;

            #{$blockSliderItem}-container {
                display: flex;
                flex-direction: column;

                @include media(lg) {
                    flex-direction: row;
                }
            }

            #{$blockSliderItem}-image {
                width: 100%;
                height: rem(200px);
                margin-bottom: rem(46px);

                @include media(md) {
                    width: 100%;
                    height: rem(300px);
                    margin-bottom: rem(56px);
                }

                @include media(lg) {
                    width: rem(592px);
                    margin-bottom: 0;
                    margin-right: rem(32px);
                    flex: 1 0 rem(592px);
                }

                img {
                    border-radius: rem(8px);
                }
            }

            .title {
                a {
                    &::after {
                        display: none;
                    }
                }
            }

            .tag {
                margin-bottom: rem(12px);
                margin-right: rem(8px);
                padding: rem(4px) rem(10px);
                border: rem(1px) solid $grey-300;
                border-radius: rem(8px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                color: $grey-700;
                display: inline-flex;

                &.pay {
                    padding-left: rem(24px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('../images/icons/icon-price.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(8px);
                        transform: translateY(-50%);
                    }
                }

                &.date {
                    padding-left: rem(24px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('../images/icons/icon-calendar.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(8px);
                        transform: translateY(-50%);
                    }
                }
            }

            .valoracion {
                display: flex;

                .stars {
                    display: flex;
                }

                .votes {
                    margin-left: rem(6px);
                    margin-top: rem(3px);
                }
            }
        }
    }

    &__button {
        width: 100%;
        max-width: rem(1272px);
        margin: rem(12px) auto 0;
        text-align: right;

        @include media(md) {
            width: auto;
            margin: 0 auto;
            padding-right: rem(32px);
            position: absolute;
            right: 0;
            left: 0;
            bottom: rem(16px);
        }

        @include media(lg) {
            max-width: calc(1272px - 24px);
            padding-right: rem(24px);
        }

        .btn {
            //max-width: rem(340px);
            width: 100%;

            @include media(md) {
                max-width: inherit;
                width: auto;
            }
        }

    }


    // modifier
    &--border {
        position: relative;

        &::after {
            content: '';
            width: 100vw;
            height: rem(1px);
            background-color: $grey-300;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
}