.courses-rating {
    &__title {
        padding: 0 0 rem(16px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(24px);
        color: $secondary;
        position: relative;

        &::after {
            content: '';
            width: calc(100% + 48px);
            height: 1px;
            background: #EAECF0;
            position: absolute;
            bottom: 0;
            right: 0;
            left: rem(-24px);
        }
    }
}