.courses {
    &__item {
        margin-bottom: rem(32px);
        border: rem(1px) solid $grey-200;
        border-radius: rem(16px);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include media(lg) {
            flex-direction: row;
        }
    }

    &__image {
        width: 100%;
        height: rem(240px);

        @include media(lg) {
            width: rem(320px);
            height: auto;
            min-height: 100%;
            flex: 1 0 rem(320px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: rem(24px);

        .valoracion {
            display: flex;
            align-items: center;

            .votes {
                margin-left: rem(10px);
                padding-top: rem(4px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $primary;
            }
        }

        .title {
            a {
                margin-bottom: rem(8px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(20px);
                line-height: rem(30px);
                color: $grey-900;
                text-align: left;
                text-decoration: none;

                &::after {
                    display: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .category {
            .type {
                margin-bottom: rem(8px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $blue-700;
                text-transform: uppercase;
            }
        }

        .content {
            p {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(24px);

                strong {
                    font-weight: 400;
                }
            }
        }

        .tags {
            //margin-bottom: rem(12px);
            display: inline-flex;
            flex-wrap: wrap;

            .tag {
                margin-bottom: rem(12px);
                margin-right: rem(8px);
                padding: rem(4px) rem(10px);
                border: rem(1px) solid $grey-300;
                border-radius: rem(8px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                color: $grey-700;

                &.pay {
                    padding-left: rem(24px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('../images/icons/icon-price.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(8px);
                        transform: translateY(-50%);
                    }
                }

                &.date {
                    padding-left: rem(24px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('../images/icons/icon-calendar.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(8px);
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
