.message {
    $messageParent: ".message";
    margin-bottom: rem(22px);
    padding: rem(16px);
    background-color: $grey-25;
    border: rem(1px) solid $grey-300;
    border-radius: rem(12px);
    position: relative;

    @include media(md) {
        margin-bottom: rem(40px);
    }

    &__close {
        width: rem(20px);
        height: rem(20px);
        background-image: url('../images/icons/icon-close-menu.svg');
        background-repeat: no-repeat;
        background-size: rem(40px);
        background-position: center;
        position: absolute;
        top: rem(16px);
        right: rem(16px);
        z-index: 2;
    }

    &__content {
        padding-left: rem(28px);
        position: relative;

        &::before {
            content: '';
            width: rem(20px);
            height: rem(20px);
            background-image: url('../images/icons/icon-idea.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
        }

        a {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $blue-700;
            text-decoration: none;
        }
    }

    &__title {
        margin-bottom: rem(4px);
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 600;
        font-size: rem(15px);
        line-height: rem(22px);
        letter-spacing: -0.1px;
        color: $grey-800;
    }

    &__text {
        margin-bottom: 0;
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: $grey-600;
    }

    // message alt
    &--alt {
        #{$messageParent}__content {
            padding-left: rem(32px);
            &::before {
                width: rem(26px);
                height: rem(26px);
                background-image: url('../images/icons/icon-message.svg');
            }
        }
    }


    // closed
    &.closed {
        display: none;
    }
}