.block-formblock-node {
    max-width: rem(1272px);
    margin: 0 auto;
    padding: 0 rem(12px);

    h2 {
        margin-bottom: rem(40px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 400;
        font-size: rem(30px);
        line-height: rem(38px);
        color: $primary;

        + p {
            margin-bottom: rem(24px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $grey-600;
        }
    }
}

.box-grey {
    margin: rem(80px) 0;
    padding: rem(40px) 0;
    position: relative;

    &::after {
        content: '';
        max-width: rem(1438px);
        width: 100vw;
        height: 100%;
        border-top: rem(1px) solid $grey-200;
        border-bottom: rem(1px) solid $grey-200;
        background-color: $grey-50;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.node-reto-frontal-form,
.node-idea-frontal-form,
.node-experiencia-frontal-form {
    max-width: rem(1272px);
    margin: 0 auto;
    padding: 0 rem(12px);

    @include media(md) {
      padding: 0 rem(32px);
    }

    @include media(lg) {
      padding: 0 rem(12px);
    }

    h2 {
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 400;
        font-size: rem(30px);
        line-height: rem(38px);
        color: $primary;
    }

    p {
        margin-bottom: rem(40px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 400;
        font-size: rem(16px);
        line-height: rem(24px);
        color: $grey-600;
    }

    .form-item,
    h2,
    p {
        max-width: rem(904px);
    }


    .form-type-textfield {
        margin: 0 0 rem(6px);
        /* position: relative;

        label {
            margin-bottom: rem(6px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(20px);
            color: $grey-700;

        }

        input {
            height: rem(44px);
            border-radius: rem(8px);
            background: $white;
            border: rem(1px) solid $grey-300;
            box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $grey-500;
        }

        .counter {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(14px);
            line-height: rem(20px);
            text-align: right;
            color: $grey-700;
            position: absolute;
            top: 0;
            right: 0;
        }

        + p {
            margin-bottom: rem(40px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(14px);
            line-height: rem(20px);
            color: $grey-600;
        } */
    }

    /* .text-format-wrapper {
        margin: 0 0 rem(40px);
        position: relative;

        .form-type-textarea {

            label {
                margin-bottom: rem(6px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-700;
            }

            .form-textarea-wrapper {
                textarea {

                }
            }

            .ck-editor {
                .ck-editor__top {
                    .ck-toolbar {
                        border-radius: rem(8px) rem(8px) 0 0 !important;
                        border-color: $grey-300;
                    }
                }
                .ck-content {
                    height: rem(300px);
                    min-height: inherit;
                    border-color: $grey-300;
                    border-radius: 0 0 rem(8px) rem(8px) !important;
                }
            }

            + a {
                display: none;
            }

            .description {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-600;
            }
        }

        .counter {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(14px);
            line-height: rem(20px);
            text-align: right;
            color: $grey-700;
            position: absolute;
            top: 0;
            right: 0;
        }

        + p {
            display: none;
        }
    } */

    .form-type-select {
        /* margin: 0 0 rem(40px);

        label {
            margin-bottom: rem(6px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(20px);
            color: $grey-700;
        }

        select {
            height: rem(44px);
            background: $white;
            border: rem(1px) solid $grey-300;
            box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $grey-800;
        } */

        .chosen-container {
            height: rem(48px);
            padding: 0;
            box-shadow: none;
            background: none;

            .chosen-choices {
                height: 100%;
                padding: rem(6px) rem(36px) rem(6px) rem(12px);
                border-radius: rem(8px);
                border: none;
                box-shadow: none;
                background-color: $white;
                background-image: url('../images/icons/icon-arrow-grey.svg');
                background-repeat: no-repeat;
                background-size: rem(20px);
                background-position: calc(100% - 10px) center;
                display: flex;

                .chosen-search-input {
                    height: 100%;
                    color: $grey-800;
                }

                .search-choice {
                    height: rem(28px);
                    padding: rem(2px) rem(27px) rem(2px) rem(10px);
                    border-radius: rem(6px);
                    background: $white;
                    border: rem(1px) solid $grey-300;
                    font-size: rem(14px);
                    color: $grey-800;
                    display: flex;
                    align-items: center;

                    .search-choice-close {
                        width: rem(20px);
                        height: rem(20px);
                        background: url('../images/icons/icon-close-menu.svg') no-repeat !important;
                        background-size: rem(23px) !important;
                        top: rem(2px);
                    }
                }
            }

            .chosen-drop {
                width: calc(100% + 2px);
                margin-top: -4px;
                margin-left: -1px;
                box-shadow: none;
                border-radius: 0 0 rem(10px) rem(10px);
                border: rem(1px) solid $grey-300;

                .chosen-results {
                    width: 100%;
                }

                .active-result {
                    &.highlighted {
                        background: $grey-200 !important;
                        color: $grey-800;

                        &:hover {
                            background: $grey-200 !important;
                        }
                    }
                }
            }

            &-active {
                .chosen-choices {
                    border-radius: rem(10px) rem(10px) 0 0;
                }
            }
        }
    }


    // state block
    .fieldgroup {
        margin: 0;

        legend {
            display: none;
        }
    }

    /* .form-radios {
        margin-top: rem(24px);

        .form-type-radio {
            margin-bottom: rem(12px);
            padding: rem(16px);
            height: rem(56px);
            background: $white;
            border: rem(1px) solid $grey-200;
            border-radius: rem(12px);
            display: flex;
            align-items: center;

            label {
                margin-left: rem(12px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $grey-600;
            }

            input {
                width: rem(20px);
                height: rem(20px);
                background: $white;
                border: rem(1px) solid $grey-300;
                border-radius: 50%;

                &:checked {
                    background: red;
                    border-color: red !important;
                    background-image: url('../images/icons/icon-idea.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    } */


    // date - hour
    .fieldset-legend {
        margin-bottom: rem(6px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $grey-700;
    }

    .form-type-date {
        margin-right: rem(12px);

        input {
            height: rem(40px);
            border-radius: rem(50px);
            border: rem(1px) solid $grey-300;
            color: $grey-700;
        }
    }


    // switch
    .box-switch {
        margin-bottom: rem(80px);
        p {
            margin-bottom: rem(24px);
        }

        .form-type-checkbox {
            display: block;
            min-height: rem(30px);
            padding-bottom: rem(22px);
            margin-bottom: rem(22px);
            border-bottom: rem(1px) solid $grey-300;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            input {
                width: 44px;
                height: 24px;
                margin-top: 4px;
                vertical-align: top;
                border-radius: rem(12px);
                border: rem(1px) solid $blue-200;
                background-color: $blue-200;
                background-image: url('../images/icons/icon-switch-circle.svg');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 20px;
                appearance: none;
                transition: background-position .15s ease-in-out;
                cursor: pointer;
                opacity: 1;


                &:checked {
                    background-color: $blue-600;
                    border-color: $blue-600;
                    background-image: url('../images/icons/icon-switch-circle.svg');
                    background-position: right center;
                    opacity: 1;
                }
            }

            label {
                width: 100%;
                padding-left: 0;
                padding-right: rem(60px);
                display: inline-block;
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $grey-800;
            }
        }
    }

    .form-type-vertical-tabs {
        display: none;
    }


    // related ideas
    .fieldgroup.form-composite {
        margin-bottom: rem(80px);
    }



    // submits
    .button-wrapper {
        max-width: rem(904px);
        display: flex;
        justify-content: flex-end;

        .form-submit,
        .button--danger  {
            min-width: rem(108px);
            margin-top: rem(40px);
        }

        .form-submit {
            margin-left: rem(16px);
            margin-right: 0;
        }

        #edit-submit-cancel,
        #edit-submit {
            margin-right: 0;
        }
    }

    .form-submit,
    .button--danger  {
        width: auto !important;
    }

    #edit-submit-cancel {
        color: $grey-700;
        border-color: $grey-300;
        background-color: $white;

        &:hover {
            border-color: $grey-300;
            background-color: $grey-50;
            color: $grey-700;
        }
    }

    #edit-submit {
        color: $white;
        border-color: $blue-600;
        background-color: $blue-600;

        &:hover {
        border-color: $blue-700;
        background-color: $blue-700;
        color: $white;
        }
    }


    .box-grey {
        &:first-child {
            margin-top: 0;
        }

        // hour
        fieldset.form-wrapper {
            margin-top: 0;
            margin-right: rem(40px);
            display: inline-flex;
            flex-direction: column;

            .form-type-date {
                margin-bottom: 0;
            }
        }
    }
}