.paragraph-pg-header {
    padding: rem(80px) 0;

    /* @include media(lg) {

    } */

    .container {
        display: flex;
        flex-direction: column-reverse;

        @include media(lg) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__box {
        max-width: rem(510px);

        .title {
            margin-bottom: rem(8px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(36px);
            line-height: rem(44px);
            letter-spacing: -0.02em;
            color: $primary;


            &-xl {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(16px);
                line-height: rem(24px);
                color: #36809A;

            }
        }

        .subtitle {
            margin-bottom: rem(32px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $secondary;
        }
    }

    &__image {
        background-image: url('../images/svg/claim-points.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        svg {
            image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}