.paragraph-cabecera-slider {
    margin-bottom: rem(126px);
    position: relative;

    @include media(md) {
        margin-bottom: rem(167px);
    }

    @include media(lg) {
        margin-bottom: rem(126px);
    }

    .slick-slide {
        img {
            height: rem(463px);
            object-fit: cover;

            @include media(md) {
                height: rem(703px);
            }
        }
    }

    // head
    &__head {
        width: calc(100% + 24px);
        margin: 0 rem(-12px);
        z-index: 2;

        @include media(md) {
            width: 100%;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

        }

        &-box {
            max-width: rem(604px);
            min-height: 535px;
            padding: rem(46px) rem(12px) 0;
            border-top: 1px solid $white;
            background-color: $blue-600;
            text-align: center;

            @include media(md) {
                min-height: inherit;
                padding: 0;
                border-top: none;
                background: none;
                text-align: left;
            }

            .title {
                margin-bottom: rem(4px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $white;

                @include media(md) {
                    font-size: rem(16px);
                    line-height: rem(24px);
                }
            }

            .subtitle {
                margin-bottom: rem(32px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(30px);
                line-height: rem(38px);
                letter-spacing: -0.02em;
                color: $white;

                @include media(md) {
                    font-size: rem(48px);
                    line-height: rem(60px);
                }
            }

            .btn.btn--head {
                width: 100%;
                max-width: 343px;
                padding: rem(12px) rem(20px) rem(12px) rem(48px);
                background-color: $white;
                border-radius: rem(50px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $black;
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                @include media(md) {
                    width: auto;
                    max-width: inherit;
                }

                &::before {
                    content: '';
                    width: rem(20px);
                    height: rem(20px);
                    background-image: url('../images/icons/icon-rocket.svg');
                    background-repeat: no-repeat;
                    background-size: contain;

                    display: inline-flex;
                    align-self: center;
                    margin-right: rem(10px);
                    margin-left: rem(-30px);

                    @include media(md) {
                        margin-right: 0;
                        margin-left: 0;
                        position: absolute;
                        top: 50%;
                        left: rem(20px);
                        transform: translateY(-50%);
                    }
                }
            }
        }

    }


    // block number
    .block-number {
        margin-top: -230px;


        @include media(md) {
            width: calc(100% - 64px);
            max-width: rem(1272px);
            position: absolute;
            right: 0;
            left: 0;
            bottom: rem(-100px);
        }

        @include media(lg) {
            max-width: calc(1272px - 24px);
            width: calc(100% - 48px);
            bottom: rem(-60px);
        }
    }
}