.paragraph-cabecera-solo-imagen {
    padding: 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            max-width: rem(1272px);
            margin: 0;
            padding: rem(43px) rem(12px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(38px);
            letter-spacing: -0.02em;
            color: $primary;

            @include media(md) {
                padding: rem(78px) rem(12px);
                font-size: rem(36px);
                line-height: rem(44px);
            }
        }
    }


    .field--name-field-pg-cab-solo-img-imagen {
        img {
            height: 250px;
            object-fit: cover;

            @include media(md) {
                height: auto;
            }
        }
    }
}