.selectBox {
  $selectBoxParent: ".selectBox";
  position: relative;
  padding: 0 rem(12px);
  cursor: pointer;

  @include media(xxl) {
    padding: 0;
  }

  &__value {
    a {
      padding: rem(10px) rem(30px) rem(10px) 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      display: none;

      @include media(xxl) {
        display: block;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: rem(16px);
        line-height: rem(24px);
        color: $white;

      }

      &::after {
        content: '';
        width: rem(20px);
        height: rem(20px);
        background-image: url('../images/icons/icon-arrow-down.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: all 0.2s ease-in-out;
        //content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.001' height='8.165' viewBox='0 0 14.001 8.165'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23212121;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.861,60.224l-.7-.7a.441.441,0,0,0-.645,0L7,65.036,1.487,59.522a.441.441,0,0,0-.645,0l-.7.7a.441.441,0,0,0,0,.645l6.537,6.538a.441.441,0,0,0,.645,0l6.538-6.538a.442.442,0,0,0,0-.645Z' transform='translate(0 -59.382)'/%3E%3C/svg%3E");
      }
    }
  }

  .dropdown-menu {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    display: block;
    top: 0;
    width: 100%;
    max-height: inherit;
    z-index: 0;
    overflow-y: auto;
    transform: translateY(0);
    visibility: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media(xxl) {
      padding: rem(12px);
      background-color: $white;
      border-radius: rem(12px);
      border: rem(1px) solid $grey-200;
      position: absolute;
      opacity: 0;
      top: 100%;
      right: 0;
      max-height: rem(250px);
      z-index: -1;
      transform: translateY(-15%);
      visibility: hidden;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    a {
      width: 100%;
      margin-bottom: rem(8px);
      padding: rem(12px) 0;
      background: none;
      border: none;
      font-family: $font-family-base;
      font-style: normal;
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(20px);
      color: $primary;
      text-decoration: none;
      display: inline-flex;

      @include media(xxl) {
        padding-left: rem(16px);
        transition: all 0.3s ease;

        &:hover {
          @include media(xxl) {
            background-color: $grey-50;
          }
        }
      }

      &.is-active {
        padding-left: rem(36px);
        position: relative;

        @include media(xxl) {
          padding-left: rem(46px);
          background-color: $grey-50;
        }

        &::before {
          content: '';
          width: rem(24px);
          height: rem(24px);
          background-image: url('../images/icons/icon-check-circle.svg');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: rem(16px);
          transform: translateY(-50%);
        }
      }
    }
  }

  &.show {

    #{$selectBoxParent}__value {
      &:after {
        transform: translateY(-50%) rotate(180deg);
        transform-origin: center;
      }
    }

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
    .dropdown-menu {
      transition: all 0.3s ease-in-out;

      // max-height: 300px;
      visibility: visible;

      opacity: 1;
      z-index: 1;

      transform: translateY(0);
    }
  }
}