.statistics {
    padding: rem(80px) 0;
    background: linear-gradient(0deg, #06AED4 0%, #36809A 100%);

    &__header {
        margin-bottom: rem(80px);
        display: flex;

        display: flex;
        flex-direction: column;

        @include media(md) {
            margin-bottom: rem(57px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .criba_pais {
            margin-top: rem(24px);

            @include media(md) {
                max-width: rem(200px);
                margin-top: 0;
            }

            select {
                width: 100%;
                height: rem(44px);
                padding: 0 rem(36px) 0 rem(16px);
                border-radius: rem(6px);
                background: $white;
                border: rem(1px) solid $grey-300;
                box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $grey-800;

                -webkit-appearance: none;
                -moz-appearance: none;

                background-image: url('../images/icons/icon-arrow-grey.svg');
                background-repeat: no-repeat;
                background-size: rem(20px);
                background-position: calc(100% - 10px) center;
            }
        }
    }


    &__filters {
        display: flex;
        border: 1px solid $grey-300;
        border-radius: rem(8px);

        &-button {
            background-color: $white;
            border-right: rem(1px) solid $grey-300;
            transition: all 0.3s ease;

            a {
                padding: rem(10px) rem(16px);
                border: none;
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-700;
                text-align: center;
                text-decoration: none;
                display: flex;
                transition: all 0.3s ease;
            }

            &:first-child {
                border-radius: rem(8px) 0 0 rem(8px);
            }

            &:last-child {
                border-right: none;
                border-radius: 0 rem(8px) rem(8px) 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;

                &::before {
                    content: '';
                    width: rem(20px);
                    height: rem(20px);
                    background-image: url('../images/icons/icon-calendar-range.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }

                input {
                    //width: rem(190px);
                    width: 100%;
                    height: 100%;
                    padding-left: rem(40px);
                    padding-right: rem(10px);
                    border-radius: 0 rem(8px) rem(8px) 0;
                    border: none;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $grey-700;
                    text-align: left;
                    cursor: pointer;

                    @include media(md) {
                        width: auto;
                    }
                }
            }

            &:hover,
            &.active {
                background-color: $blue-25;

                a {
                    color: $grey-800;
                }
            }
        }
    }

    .block-number {
        max-width: 100%;
        width: 100%;
        margin: 0 0 rem(34px);

        &__text {
            text-align: center;

            @include media(md) {
                text-align: left;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(32px);

        @include media(lg) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .statistics-box {
        background: $white;
        box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        border-radius: rem(12px);

        .selectBox.show {
            .dropdown-menu {
                right: 0;
            }
        }

        &__header {
            padding: rem(22px) rem(46px);
            border-bottom: rem(1px) solid $grey-300;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-flex {
                display: flex;
                align-items: flex-end;
            }
        }

        &-inline {
            display: flex;
            align-items: flex-end;
        }

        &__header,
        &__header-inline {
            span {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(18px);
                line-height: rem(28px);
                color: $primary;
                display: inline-flex;

                &.number {
                    margin-right: rem(6px);
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(48px);
                    line-height: rem(50px);
                    letter-spacing: -0.02em;
                    color: $black;
                }

                &.best {
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(18px);
                    line-height: rem(28px);
                    color: $primary;
                }
            }
        }

        &__content {
            .group-row {
                padding: rem(24px) rem(54px);
                display: flex;
                flex-direction: column;
                font-family: $font-family-base;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $grey-200;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                &__number {
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(18px);
                    line-height: rem(28px);
                    color: $grey-500;
                }

                &__title {
                    margin-bottom: rem(12px);
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $blue-700;
                }

                &__rating {
                    display: flex;
                    align-items: center;

                    .votes {
                        margin-left: rem(12px);
                        padding-top: rem(5px);
                        font-style: normal;
                        font-weight: 400;
                        font-size: rem(16px);
                        line-height: rem(20px);
                        color: $primary;
                        display: inline-flex;
                    }
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

            }

            .group-comments {
                padding: rem(12px) rem(50px);
                font-family: $font-family-base;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $grey-200;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                &__content {
                    max-width: rem(306px);
                    width: auto;
                    display: flex;
                    align-items: center;
                }

                &__number {
                    margin-right: rem(24px);
                    font-style: normal;
                    font-weight: 700;
                    font-size: rem(16px);
                    line-height: rem(24px);
                    color: $primary;
                    display: inline-flex;
                }

                &__balls {
                    margin-right: rem(12px);
                    width: rem(40px);
                    height: rem(40px);
                    //padding: rem(6px);
                    border-radius: 50%;
                    border: rem(1px) solid rgba($grey-900, 0.075);
                    background-color: $grey-100;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(16px);
                    line-height: rem(24px);
                    text-align: center;
                    color: $grey-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .star_expertoTac {
                        position: absolute;
                        bottom: rem(-5px);
                        right: rem(-4px);

                        @include media(xxl) {
                          bottom: rem(-5px);
                          right: rem(-4px);
                        }
                    }
                }

                &__user {
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $primary;
                }

                &__comments {
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $primary;
                }
            }

            &.height-01 {
                height: rem(447px);
            }

            &.height-02 {
                height: rem(668px);
            }

            &.height-01,
            &.height-02 {
                overflow: hidden;
                overflow-y: auto;
            }

            &.graphic {
                display: flex;
                justify-content: center;
                align-items: center;

                .view-id-user_admin_people .view-content {
                    margin-top: 60px;
                    position: relative;

                    canvas {
                        margin: 0 auto;
                    }
                }
            }
        }

        .selectBox {
            &__value {
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-600;

                &::after {
                    background-image: url(../images/icons/icon-arrow-down-black.svg);
                }
            }
        }


        &--full {
            padding: rem(30px) rem(34px);

            @include media(lg) {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


}
