.view-display-id-page_1,
.view-display-id-page_4,
.view-display-id-page_5,
.view-display-id-page_6 {
    padding: rem(80px) 0;

    .view-width {
        max-width: rem(1272px);
        width: calc(100% - 24px);
        margin: 0 auto;
        overflow: hidden;
        overflow-x: auto;

        @include media(xxl) {
            width: 100%;
        }
    }

    .view-header {
        width: 50%;
        display: flex;
        align-self: center;

        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $primary;

        span {
            min-width: rem(80px);
            margin-left: rem(12px);
            padding: rem(4px) rem(12px);
            border-radius: rem(16px);
            background-color: $grey-50;
            border: 1px solid $grey-200;
            display: inline-flex;
            font-weight: 500;
            font-size: rem(14px);
            line-height: rem(20px);
            text-align: center;
            color: $grey-700;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .view-filters {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-self: center;

        > .btn {
            align-self: flex-end;
        }

        .views-exposed-form {
            .form--inline {
                margin-left: rem(20px);
                display: flex;
                align-items: flex-end;
            }

            .form-type-select {
                min-width: rem(160px);
                margin: 0 rem(16px) 0 0;

                label {
                    margin-bottom: rem(6px);
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $grey-700;
                }

                select {
                    padding-right: rem(36px);
                    background: $white;
                    border: rem(1px) solid $grey-300;
                    box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 500;
                    font-size: rem(16px);
                    line-height: rem(24px);
                    color: $grey-800;

                    -webkit-appearance: none;
                    -moz-appearance: none;

                    background-image: url('../images/icons/icon-arrow-grey.svg');
                    background-repeat: no-repeat;
                    background-size: rem(20px);
                    background-position: calc(100% - 10px) center;
                }
            }

            .form-submit {
                min-width: 120px;
                margin-top: 0;
            }
        }
    }


    .view-content,
    .view-container {
        width: rem(1272px);
    }

    .view-content {
        margin: 0 auto;
        padding: 0;
    }

    .view-container {
        padding: rem(22px) rem(24px);
        border-radius: rem(12px) rem(12px) 0 0;
        background-color: $white;
        border: rem(1px) solid $grey-300;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .views-form {
        .form-type-select {
            display: inline-flex;
            margin-right: rem(16px);

            select {
                width: auto;
            }

            + .form-submit {
                width: auto;
                display: inline-flex;
            }
        }

        > form {
            display: flex;
            flex-direction: column;

            .form-submit  {
                display: none;
            }
        }

        .wrapper {
            padding: rem(36px) rem(24px);
            border: rem(1px) solid $grey-300;
            border-top: none;
            background-color: $grey-25;
            display: flex;
            align-items: center;
            order: 1;

            .form-type-checkbox {
                display: none;
            }

            .form-type-select {
                margin-bottom: 0;
                order: 2;

                label {
                    display: none;
                }
            }

            .btn {
                width: auto;
                margin-top: 0;
                order: 3;
                display: inline-flex;
            }

            .vbo-multipage-selector {
                margin-right: rem(16px);
                border: none;
                order: 1;

                .card-header {
                    padding: 0;
                    border-radius: 0;
                    border: none;
                    background: none;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 500;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $grey-600;
                }
            }
        }
    }

    .form-submit {
        :last-of-type {
            display: none;
        }
    }

    .pager {
        width: rem(1272px);
        margin: 0 auto;
        padding: rem(34px) rem(24px) rem(26px);
        border-radius: 0 0 rem(12px) rem(12px);
        border: rem(1px) solid $grey-300;
        border-top: none;
        background-color: $white;
        display: flex;
        justify-content: flex-end;

        .pagination {
            margin: 0;
            padding: 0;

            .page-item {
                a {
                    border: rem(1px) solid $grey-300;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $grey-700;
                }

                &.is-active {
                    a {
                        background-color: $grey-50;
                        color: $grey-700;
                    }
                }
            }
        }
    }

    // vbo-table
    .table.table-striped {
        margin-bottom: 0;
        border: rem(1px) solid $grey-300;

        .form-checkbox {
            width: rem(20px);
            height: rem(20px);
            border: rem(1px) solid $grey-300;
            border-radius: rem(6px);
            appearance: none;
            cursor: pointer;
            vertical-align: middle;
        }

        select {
            height: rem(44px);
            padding: rem(10px) rem(36px) rem(10px) rem(14px);
            background: $white;
            border-radius: rem(8px);
            border: rem(1px) solid $grey-300;
            box-shadow: 0 rem(1px) rem(2px) rgba(16, 24, 40, 0.05);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $grey-800;

            -webkit-appearance: none;
            -moz-appearance: none;

            background-image: url('../images/icons/icon-arrow-grey.svg');
            background-repeat: no-repeat;
            background-size: rem(20px);
            background-position: calc(100% - 10px) center;
        }

        // table
        thead {

            th {
                padding: rem(12px) rem(24px);
                background-color: $grey-25;
                border-top: rem(1px) solid $grey-300;
                border-bottom: rem(1px) solid $grey-300;

                a {
                    pointer-events: none;
                    vertical-align: middle;
                    display: inline-flex;
                }

                &.select-all {
                    width: 56px;
                }

                &.views-field-title {
                    width: 50%;
                }
            }

            th, th a {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(12px);
                line-height: rem(18px);
                color: $grey-600;
                text-decoration: none;
            }

        }

        tbody {
            td {
                padding: rem(26px) rem(24px);
                box-shadow: none;
                background: none;
                border-top: rem(1px) solid $grey-300;
                border-bottom: rem(1px) solid $grey-300;
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-800;
                vertical-align: middle;
            }
        }
    }
}

