.tab-ideas,
.tab-experiences {
    .view-distributivas {
        .view-empty {
            margin: rem(40px) 0;
        }

        .view-content {
            width: 100%;
            margin-top: rem(40px);
            display: flex;
            flex-direction: column;
            gap: rem(22px) rem(16px);

            @include media(md) {
                /* column-count: 2;
                break-inside: avoid;
                column-gap: rem(16px); */
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }

            /* @include media(lg) {
                column-count: 3;
                break-inside: avoid;
            } */

            .block-ideas__item {
                width: 100%;
                margin-bottom: rem(42px);
                break-inside: avoid;
                padding-right: 0;
                padding-left: 0;

                @include media(md) {
                    width: calc(50% - 15px);
                }

                @include media(lg) {
                    width: calc(33.3% - 20px);
                }
            }
        }
    }
}