.text-formatted {
    &.field--name-body {
        h2 {
            margin-top: rem(32px);
            margin-bottom: rem(16px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(38px);
            color: $primary;
        }

        h3 {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 700;
            font-size: rem(20px);
            line-height: rem(30px);
            color: $primary;
        }

        h4,
        h5,
        h6 {
            margin-top: rem(16px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: rem(18px);
            line-height: rem(28px);
            color: $primary;
        }

        p {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(18px);
            line-height: rem(28px);
            color: $secondary;

            a {
                color: $secondary;
                text-decoration: underline;
            }
        }

        ul,
        ol {
            li {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(18px);
                line-height: rem(28px);
                color: $secondary;
            }
        }

        blockquote {
            margin: rem(40px) 0;
            padding: rem(8px) 0 rem(8px) rem(20px);
            border-left: rem(2px) solid $blue-700;

            p {
                font-family: $font-family-base;
                font-style: italic;
                font-weight: 500;
                font-size: rem(24px);
                line-height: rem(36px);
                color: $primary;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: rem(48px) 0;
        border-radius: rem(12px);
    }

    /* blockquote {
        margin: rem(40px) 0;
        padding: rem(8px) 0 rem(8px) rem(20px);
        border-left: rem(2px) solid $blue-700;

        p {
            font-family: $font-family-base;
            font-style: italic;
            font-weight: 500;
            font-size: rem(24px);
            line-height: rem(36px);
            color: $primary;

            &:last-child {
                margin-bottom: 0;
            }
        }
    } */

    table {
        width: 100%;

        thead {
            th {
                padding: rem(12px) rem(24px);
                background-color: $grey-25;
                border-bottom: rem(1px) solid $grey-300;
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $grey-600;
            }
        }

        tbody {
            tr {
                td {
                    padding: rem(26px) rem(24px);
                    border-bottom: rem(1px) solid $grey-300;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $grey-800;
                }
            }
        }

    }

}