{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}

	<div{{attributes.addClass(classes)}}>


		<div class="container">
			<div class="header__logo">
				<a href="https://www.digitac-hub.com">
					<img src="/themes/digitac/images/digitac-logo-white.svg" class="logo logo-static"/>
					<img src="/themes/digitac/images/digitac-logo.svg" class="logo logo-fixed"/>
				</a>
			</div>
			<div class="header__content">
				<div class="header__menu">
					{{ drupal_block("system_menu_block:main", {depth: 2, expand_all_items: TRUE}) }}
				</div>

				<div class="header__menu-registro">
					{{ drupal_block("system_menu_block:account", {depth: 2, expand_all_items: TRUE}) }}
				</div>

				<div class="lang_sel">
					{{ drupal_block("language_block:language_interface") }}
				</div>

			</div>
		</div>


	</div>

{% endif %}
