.header {
  $headerParent: ".header";
  max-width: 1440px;
  margin: 0 auto;
  padding: rem(16px) 0;
  background-color: rgba($blue-700, 0.6);
  border-bottom: 1px solid $grey-50;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease;

  @include media(xxl) {
    padding: rem(44px) 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(xxl) {
      align-items: inherit;
    }
  }

  // user ball letters
  .user-ball {
    width: 100%;
    max-width: rem(32px);
    min-width: rem(32px);
    height: rem(32px);
    padding: rem(6px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-100;
    border-color: rem(1px) solid rgba($grey-900, 0.75);
    border-radius: 50%;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(24px);
    text-align: center;
    color: $grey-600;
    position: absolute;
    top: rem(18px);
    right: rem(60px);

    @include media(md) {
      right: rem(94px);
    }

    @include media(xxl) {
      max-width: rem(40px);
      min-width: rem(32px);
      height: rem(40px);
      margin-left: rem(24px);
      position: relative;
      top: 0;
      right: 0;
      display: none;
    }

    .star_expertoTac {
      position: absolute;
      bottom: rem(-5px);
      right: rem(-4px);

      @include media(xxl) {
        bottom: rem(-4px);
        right: 0;
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    overflow-y: auto;
    transition: 0.5s all ease;

    @include media(xxl) {
      width: auto;
      height: auto;
      background: none;
      flex-direction: row;
      align-items: center;
      position: relative;
      right: 0;
      overflow-y: inherit;
    }

    // user ball letters
    .user-ball {
      @include media(md) {
        right: rem(70px);
      }

      @include media(xxl) {
        display: inline-flex;
        right: 0;
      }
    }


    &-header {
      margin-bottom: rem(24px);
      padding: rem(16px) rem(12px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media(xxl) {
        display: none;
      }

      .header__close {
        width: rem(40px);
        height: rem(40px);
        background-image: url('../images/icons/icon-close-menu.svg');
        background-repeat: no-repeat;
        background-size: rem(46px);
        background-position: center;
      }
    }
  }

  &__logo {
    position: relative;

    @include media(xxl) {
      top: rem(12px);
    }

    a {
      display: inline-block;

      @include media(xxl) {
        display: inline-flex;
      }
    }

    .logo {
      &-fixed {
        display: none;
        transition: all 0.3s ease;
      }
    }
  }

  &__menu {
    #-menu {
      display: none;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;

      @include media(xxl) {
        flex-direction: row;
        flex-wrap: nowrap !important;
      }

      a {
        margin-bottom: rem(8px);
        padding: rem(12px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(20px);
        color: $primary;
        position: relative;

        @include media(xxl) {
          width: 100%;
          margin-bottom: 0;
          margin-right: rem(6px);
          margin-left: rem(6px);
          padding: rem(8px) rem(14px);
          color: $white;
          text-align: center;
        }

        &::after {
          @include media(xxl) {
            content: '';
            width: 0;
            height: rem(4px);
            margin: 0 auto;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            transition: all 0.3s ease;
            bottom: rem(-48px);
          }
        }

        &.active {
          background: $grey-50;
        }

        &.active,
        &:hover {
          &::after {
            width: calc(100% - 20px);

            @include media(xxl) {
              width: calc(100% - 28px);
            }
          }
        }
      }

      .nav-item {
        &:first-child {
          a {
            @include media(xxl) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  &__menu-registro {
    padding: 0 rem(12px) rem(40px);
    order: 3;

    @include media(xxl) {
      order: 2;
      margin-left: rem(12px);
      padding: 0;
    }

    #-menu {
      display: none;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;

      @include media(xxl) {
        flex-direction: row;
        flex-wrap: nowrap !important;
      }

      li {
        a {
          width: 100%;
          margin: 0 0 rem(12px);
          border-radius: rem(50px);
          border: 1px solid $grey-300;
          background: $white;
          font-family: $font-family-base;
          font-style: normal;
          font-weight: 600;
          font-size: rem(14px);
          line-height: rem(20px);
          color: $primary;
          justify-content: center;
          text-align: center;
          position: relative;

          @include media(xxl) {
            margin: 0 rem(4px) 0;
            border-radius: 0;
            border: none;
            background: none;
            color: $white;
          }

          &::after {
            content: '';
            width: 0;
            height: rem(1px);
            margin: 0 auto;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            transition: all 0.3s ease;
          }

          &:hover {
            &::after {
              width: calc(100% - 20px);
            }
          }
        }

        &:last-child {
          a {
            padding: rem(8px) rem(14px);
            background-color: $blue-600;
            border-radius: rem(50px);
            display: inline-flex;
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(20px);
            color: $white;
            transition: all 0.3s ease;

            @include media(xxl) {
              margin-right: 0;
              background-color: $white;
              color: $black;
            }

            &:hover {
              background-color: $black;
              color: $white;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  // burger
  .navbar-toggler {
    width: rem(40px);
    height: rem(40px);
    background-image: url('../images/icons/icon-burger.svg');
    background-repeat: no-repeat;
    background-size: rem(46px);
    background-position: center;

    @include media(xxl) {
      display: none;
    }
  }



  .account-list:not(.account-lang) {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;

    .nav-link {
      margin: 0;
      padding: rem(10px) rem(16px);
      border-radius: rem(50px);
      border: none;
      border: rem(1px) solid $secondary;
      font-family: $font-family-base;
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(20px);
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .nav-item {
      &:first-child {
        .nav-link {
          margin-right: rem(12px);
          padding: rem(8px) rem(14px);
          border: none;
          font-family: $font-family-base;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: $primary;
          position: relative;

          @include media(xxl) {
            color: $white;
          }

          &::after {
            content: '';
            width: 0;
            height: rem(4px);
            margin: 0 auto;
            background-color: $white;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            transition: all 0.3s ease;

            @include media(xxl) {
              bottom: rem(-48px);
            }
          }

          &:hover {
            &::after {
              width: calc(100% - 20px);

              @include media(xxl) {
                width: calc(100% - 28px);
              }
            }
          }
        }
      }

      &:last-child {
        margin-left: rem(10px);

        .nav-link {
          color: $grey-700;
          border-color: $grey-300;
          background-color: $white;

          &:hover {
            border-color: $grey-300;
            background-color: $grey-50;
            color: $grey-700;
          }
        }
      }
    }
  }

  .lang_sel {
    margin-left: rem(12px);

    @include media(xxl) {
      margin-left: rem(18px);
    }

    .selectBox {
      padding-left: 0;

      .selectBox__value {
        a {
          color: $primary;

          @include media(xxl) {
            color: $white;
          }
        }
      }

      .dropdown-menu a {
        &.is-active {
          &::before {
            left: 0;
          }
        }
      }
    }
  }

  .selectBox {
    padding: 0;
  }

  // states
  &.fixed {
    max-width: calc(1440px - 2px);
    margin: 0 auto;
    background-color: $white;
    border-bottom: rem(1px) solid rgb(232, 232, 234);
    position: fixed;

    @include media(xxl) {
      padding: rem(24px) 0 rem(34px);
    }

    #{$headerParent}__menu {
      .navbar-nav {
        a {
          color: $primary;

          &::after {
            bottom: rem(-39px);
          }

          &:hover,
          &.active {
            &::after {
              background-color: $primary;
            }
          }
        }
      }
    }



    #{$headerParent}__menu-registro {
      .navbar-nav {
        li {
          a {
            color: $primary;
          }

          &:last-child {
            a {
              color: $white;

              @include media(xxl) {
                background-color: $black;
                color: $white;
              }
            }
          }
        }
      }
    }

    #{$headerParent}__logo {
      .logo {
        &-static {
          display: none;
        }
        &-fixed {
          display: block;
        }
      }
    }

    .navbar-toggler {
      background-image: url('../images/icons/icon-burger-black.svg');
    }

    .account-list:not(.account-lang) {
      .nav-item {
        &:first-child {
          .nav-link {
            color: $primary;

            &::after {
              background-color: $primary;
              bottom: rem(-39px);
            }

          }
        }

        &:last-child {
          .nav-link {
            color: $white;
            border-color: $blue-600;
            background-color: $blue-600;

            &:hover {
              border-color: $blue-700;
              background-color: $blue-700;
              color: $white;
            }
          }

        }
      }
    }



    .selectBox {
      .selectBox__value {
        a {
          color: $primary;

          &::after {
            background-image: url('../images/icons/icon-arrow-down-black.svg');
          }
        }
      }
    }

  }

  &.active {
    #{$headerParent}__content {
      right: 0;
    }
  }
}


// modifier
body:not(.path-frontpage) {
  .header {
    $headerParent: ".header";
    position: sticky;
    top: 0;
    background-color: $white;
    border-bottom: 1px solid rgb(232, 232, 234);

    #{$headerParent}__menu {
      .navbar-nav {
        a {
          color: $primary;

          &.active {
            @include media(xxl) {
              background: none;
            }

            &::after {
              @include media(xxl) {
                //width: calc(100% - 28px);
                background-color: $blue-600;
              }
            }
          }

          &:hover {
            &::after {
              background-color: $blue-600;
            }
          }
        }
      }
    }

    #{$headerParent}__menu-registro {
      .navbar-nav {

        li {
          a {
            color: $primary;
          }

          &:last-child {
            a {
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }

    #{$headerParent}__logo {
      .logo {
        &-static {
          display: none;
        }
        &-fixed {
          display: block;
        }
      }
    }

    .navbar-toggler {
      background-image: url('../images/icons/icon-burger-black.svg');
    }

    .account-list:not(.account-lang) {
      .nav-item {
        &:first-child {
          .nav-link {
            color: $primary;

            &::after {
              background-color: $blue-600;
            }

          }
        }

        &:last-child {
          .nav-link {
            color: $white;
            border-color: $blue-600;
            background-color: $blue-600;

            &:hover {
              border-color: $blue-700;
              background-color: $blue-700;
              color: $white;
            }
          }

        }
      }
    }

    .selectBox {
      .selectBox__value {
        a {
          color: $primary;

          &::after {
            background-image: url('../images/icons/icon-arrow-down-black.svg');
          }
        }
      }
    }

    &.fixed {
      position: fixed;
    }

  }
}

