{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="training__image">
        <svg width="278" height="279" viewBox="0 0 278 279" fill="none" xmlns="http://www.w3.org/2000/svg">
                <clipPath id="clip-path">
                <rect y="88.4844" width="125.31" height="267.991" rx="62.655" transform="rotate(-44.9202 0 88.4844)" fill="#D9D9D9"/>
                </clipPath>
                <image clip-path="url(#clip-path)" xlink:href="{{ file_url(viewimg) }}" alt="Image" class="svg__image">
        </svg>
</div>

<span class="training__item-title">{{ viewcat }}</span>
<span class="training__item-number">{{ rows|length }}</span>
