.view-id-view_noticias {
    position: relative;

    .block-card-slider {
        margin: 0 rem(-16px);

        .region {
            padding-left: rem(10px);
        }
    }

    .block-slider-news__item-image {
        .region {
            padding-left: rem(10px);
        }
    }

    &.view-display-id-block_3 {
        max-width: rem(1272px);
        margin: 0 auto;
        padding: 0 rem(12px);

        .view-filters {
            margin: rem(40px) 0 rem(34px);

            @include media(xxl) {
                margin: rem(40px) 0 rem(34px);
            }

            .js-form-item {
                width: 100%;
                margin: 0 rem(12px) rem(16px) 0;

                @include media(md) {
                    width: auto;
                    margin: 0 rem(12px) rem(22px) 0;
                }

                @include media(lg) {
                    margin-bottom: 0;
                }
            }

            select {
                width: 100%;
                height: rem(44px);
                padding-right: rem(36px);
                border-radius: rem(8px);
                border: rem(1px) solid $grey-300;

                @include media(md) {
                    width: auto;
                    min-width: rem(200px);
                }
            }

            .btn {
                width: 100%;
                max-width: rem(343px);
                margin: 0 auto;

                @include media(md) {
                    min-width: rem(120px);
                    width: auto;
                }
            }
        }

        .view-content {
            display: flex;
            flex-direction: column;
            gap: rem(16px);

            @include media(md) {
                /* column-count: 2;
                break-inside: avoid;
                column-gap: rem(16px); */
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                  }
            }

            /* @include media(lg) {
                column-count: 3;
                break-inside: avoid;
            } */

            .block-slider-news__item {
                width: 100%;
                margin-bottom: rem(32px);
                break-inside: avoid;
                padding-right: 0;
                padding-left: 0;

                @include media(md) {
                    width: calc(50% - 15px);
                }

                @include media(lg) {
                    width: calc(33.3% - 20px);
                }
            }
        }

        .pager-show-more {
            width: 100%;
            margin-top: rem(40px);
            display: flex;
            justify-content: center;

            .pager__item {
                padding: 0;
                display: inline-flex;

                a {
                    min-width: rem(120px);
                    margin: 0;
                    padding: rem(10px) rem(16px);
                    text-align: center;
                    border: none;
                    border-radius: 0;
                    border: rem(1px) solid $secondary;
                    font-family: $font-family-base;
                    font-weight: 600;
                    font-size: rem(14px);
                    line-height: rem(20px);
                    text-decoration: none;
                    border-radius: rem(50px);
                    color: $white;
                    border-color: $blue-600;
                    background-color: $blue-600;
                    transition: all 0.3s ease;

                    padding-left: rem(40px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(20px);
                        height: rem(20px);
                        background-image: url('../images/icons/icon-load-more.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(12px);
                        transform: translateY(-50%);

                    }

                    &:hover {
                        border-color: $blue-700;
                        background-color: $blue-700;
                        color: $white;
                    }
                }
            }

        }
    }
}

