.view-id-cursos,
.view-id-soluciones {
    &.view-display-id-block_2 {
        max-width: rem(1272px);
        margin: rem(32px) auto 0;
        padding: 0 rem(12px);

        .view-block {
            @include media(lg) {
                display: grid;
                grid-template-columns: 250px 1fr;
                gap: 32px 60px;
            }
        }

        .view-filters {
            width: 100%;
            height: 100%;
            padding: rem(24px) rem(16px);
            background: $white;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 2;
            transition: all 0.3s ease;
            overflow-y: auto;

            @include media(md) {
                max-width: 400px;
            }

            @include media(lg) {
                margin-bottom: rem(32px);
                padding: 0;
                background: none;
                padding: 0;
                width: auto;
                height: auto;
                position: relative;
                right: 0;
                overflow-y: inherit;
            }

            &__container {
                width: 100%;
                height: 100%;
                padding: rem(24px);
                background-color: $grey-50;
                border: rem(1px) solid $grey-200;
                border-radius: rem(8px);
            }

            &__head {
                padding-bottom: rem(16px);
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::after {
                    content: "";
                    width: calc(100% + 48px);
                    margin: 0 rem(-24px);
                    height: 1px;
                    background: $grey-200;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                p {
                    margin-bottom: 0;
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $grey-600;
                }

                .btn-close-filters {
                    width: rem(20px);
                    height: rem(20px);
                    background-image: url("../images/icons/icon-close-menu.svg");
                    background-repeat: no-repeat;
                    background-size: 38px;
                    background-position: center;

                    @include media(lg) {
                        display: none;
                    }
                }
            }

            form {
                .fieldgroup legend {
                    display: block;
                }

                .form--inline {
                    display: flex;
                    flex-direction: column;
                }

                .fieldgroup {
                    width: calc(100% + 48px);
                    margin: 0 rem(-24px);
                    padding: rem(24px) rem(24px);
                    border-top: rem(1px) solid $grey-200;

                    .fieldset-legend {
                        margin-bottom: rem(20px);
                        font-family: $font-family-base;
                        font-style: normal;
                        font-weight: 400;
                        font-size: rem(16px);
                        line-height: rem(24px);
                        color: $grey-600;
                        display: inline-flex;
                    }

                    &:first-child {
                        border-top: 0;
                    }
                }
            }

            .view-filters-layer {
                display: none;
            }

            // states
            &.active {
                right: 0;

                + .view-filters-layer {
                    @include media(md) {
                        width: 100vw;
                        height: 100%;
                        position: fixed;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: rgba($primary, 0.7);
                        z-index: 1;
                        display: block;
                    }

                    @include media(lg) {
                        display: none;
                    }
                }
            }
        }

        .view-display-id-block_4 {
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;

            .view-content {
                width: 100%;
                padding: rem(24px);
                background-color: $grey-50;
                border: rem(1px) solid $grey-200;
                border-radius: rem(8px);
            }
        }

        .view-content {
            .container {
                padding: 0;

                .courses {
                    @include media(md) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 32px;
                    }

                    @include media(lg) {
                        display: block;
                    }
                }
            }
        }

        .view-col {
            @include media(md) {
                display: flex;
                justify-content: flex-end;
            }

            @include media(lg) {
                display: block;
            }

            .btn--filter {
                width: 100%;
                margin-bottom: rem(40px);

                @include media(md) {
                    width: auto;
                }

                @include media(lg) {
                    display: none;
                }
            }
        }

        .view-block {
            &--desktop {
                display: none;

                @include media(lg) {
                    display: block;
                }
            }

            &--mob {
                @include media(lg) {
                    display: none;
                }
            }
        }
    }

}

