.view-id-view_retos {
    position: relative;

    /* .container {
        padding: 0;
    }*/

    .block-card-slider {
        margin: 0 rem(-16px);
    }

    &.view-display-id-block_3 {
        max-width: rem(1272px);
        margin: 0 auto;
        padding: 0 rem(12px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .view-filters {
            width: 100%;

            @include media(md) {
                width: auto;
                margin-top: rem(32px);
            }

            @include media(lg) {
                margin-top: 0;
            }

            form {
                display: flex;
                flex-direction: column;

                @include media(md) {
                    flex-direction: row;
                }
            }

            .js-form-item {
                width: 100%;
                margin: 0 rem(16px) 0 0;

                @include media(md) {
                    width: auto;
                }

                .form-select {
                    width: 100%;
                    min-height: rem(42px);
                    margin-bottom: rem(12px);

                    @include media(md) {
                        width: auto;
                        margin-bottom: 0;
                    }
                }

            }

            .form-submit {
                width: 100%;
                //max-width: rem(343px);
                margin-top: 0;

                @include media(md) {
                    width: auto;
                    max-width: inherit;
                }
            }
        }

        .view-content {
            width: 100%;
            margin-top: rem(40px);
            display: flex;
            flex-direction: column;
            gap: rem(16px);
            //height: auto !important;

            @include media(md) {
                /* column-count: 2;
                break-inside: avoid;
                column-gap: rem(16px); */
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }

            /* @include media(lg) {
                column-count: 3;
                break-inside: avoid;
            } */

            .block-slider-news__item {
                width: 100%;
                margin-bottom: rem(32px);
                break-inside: avoid;
                padding-right: 0;
                padding-left: 0;
               /*  position: relative !important;
                top: 0 !important;
                left: 0 !important; */

                @include media(md) {
                    width: calc(50% - 15px);
                }

                @include media(lg) {
                    width: calc(33.3% - 20px);
                }

                &-container {
                    height: auto;
                    border-radius: rem(16px);
                    border: 1px solid $grey-200;
                }

                &-content {
                    padding: 0 rem(24px);
                }
            }
        }

        nav {
            width: 100%;
        }
    }

    // not reply header
    &.view-display-id-block_2:not(:first-child) {
        display: none;
    }
}

// not reply header
.paragraph--title--Administrar_retos:not(:first-child) {
    display: none;
}


