.user-account {
    .paragraph-cabecera {
        padding-bottom: 0;
    }

   /*  .block-number {
        margin-bottom: rem(122px);
    } */

    &__body {
        margin: rem(80px) 0;

        h2 {
            margin-bottom: rem(40px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(38px);
            color: $primary;
        }
    }

    .data {
        &__row {
            margin-bottom: rem(20px);
            display: flex;

            &:last-child {
                max-width: rem(294px);
                margin-bottom: 0;

                a {
                    color: $blue-500;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &-col {
                min-width: rem(446px);
                display: flex;
                flex-direction: column;
            }

            .field__label {
                margin-bottom: rem(6px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $grey-800;
            }

            .field__item {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(16px);
                line-height: rem(24px);
                color: $grey-500;
            }
        }
    }


    .user-headband {
        padding: rem(80px) 0 rem(340px);
        background-color: $blue-500;

        @include media(md) {
            padding: rem(80px) 0 rem(160px);
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media(md) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__description {
            margin-bottom: rem(40px);
            display: flex;
            align-items: center;

            @include media(md) {
                margin-bottom: 0;
            }

            .user-ball {
                width: auto;
                min-width: rem(40px);
                height: rem(40px);
                padding: rem(6px);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: $grey-100;
                border-color: rem(1px) solid rgba($grey-900, 0.75);
                border-radius: 50%;
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(16px);
                line-height: rem(24px);
                text-align: center;
                color: $grey-600;
                position: relative;

                .star_expertoTac {
                    position: absolute;
                    bottom: rem(-4px);
                    right: 0;
                }
            }
        }

        &__button {
            width: 100%;
            text-align: center;

            @include media(md) {
                width: auto;
                text-align: left;
            }

            .btn {
                max-width: rem(311px);
                width: 100%;
                margin: 0 auto;

                @include media(md) {
                    width: auto;
                }
            }
        }

        &__profile {
            margin-left: rem(12px);


            .name {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $white;
            }

            .expertoTac{
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $white;
            }
        }
    }

    .user-box {
        padding: rem(80px) 0;
        background-color: $grey-50;
        border-top: rem(1px) solid $grey-200;
        border-bottom: rem(1px) solid $grey-200;

        h2 {
            margin-bottom: rem(24px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(38px);
            color: $primary;
        }

        // modifier
        &--secondary {
            background-color: $white;
            border: none;
        }
    }

    .paragraph--type--usuario-stats {
        margin-top: rem(-305px);

        @include media(md) {
            margin-top: rem(-94px);
        }

        @include media(lg) {
            margin-top: 0;
        }

        .block-number {
            @include media(md) {
                width: 100%;
            }

            &__text {
                @include media(md) {
                    font-weight: 500;
                    font-size: rem(14px);
                    line-height: rem(20px);
                }

                @include media(lg) {
                    font-size: rem(18px);
                    line-height: rem(28px);
                }
            }
        }
    }
}

// form
.block-formblock-user-edit {
    margin-top: rem(80px);
    //background-color: $white;

    .user-form {
        max-width: rem(1272px);
        margin: 0 auto;
        padding: 0 rem(12px);

        @include media(md) {
            padding: 0 rem(32px);
        }

        @include media(lg) {
            padding: 0 rem(24px);
        }
    }

    .form-submit {
        margin: rem(44px) 0 rem(30px);

        &#edit-submit {
            padding: rem(10px) rem(16px);
            text-align: center;
            border: none;
            border-radius: 0;
            border: rem(1px) solid $secondary;
            font-family: $font-family-base;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(20px);
            text-decoration: none;
            transition: all 0.3s ease;

            border-radius: rem(50px);
            color: $white;
            border-color: $blue-600;
            background-color: $blue-600;

            &:hover {
                border-color: $blue-700;
                background-color: $blue-700;
                color: $white;
            }
        }
    }

    .form-item {
        margin-bottom: rem(30px);

        label {
            margin-bottom: rem(6px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(14px);
            line-height: rem(20px);
            color: $grey-800;
        }

        .description {
            margin-top: rem(6px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(12px);
            line-height: rem(18px);
            color: $grey-800;

            a {
                color: $blue-600;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // password
    .form-type-password {
        max-width: rem(904px);

        .password-confirm-message {
            margin-top: rem(6px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(12px);
            line-height: rem(18px);
            color: $grey-800;
        }
    }

    .form-type-password-confirm {
        .form-item {
            max-width: rem(904px);
            width: 100%;
        }

        .password-strength {
            margin-top: rem(12px);
            display: flex;
            flex-direction: column-reverse;

            .password-strength__meter {
                height: rem(6px);
                border-radius: rem(12px);
            }

            .password-strength__title{
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(12px);
                line-height: rem(18px);
                color: $grey-800;
            }
        }
    }

    .password-suggestions {
        padding: 0;
        border: none;
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: rem(15px);
        line-height: rem(22px);
        letter-spacing: -0.2px;
        color: $grey-500;

        ul {
            margin-top: rem(20px);
            list-style: none;

            li {
                margin-bottom: rem(12px);
                padding-left: rem(28px);
                position: relative;

                &::before {
                    content: '';
                    width: rem(20px);
                    height: rem(20px);
                    background-image: url('../images/icons/icon-check-grey.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    top: rem(1px);
                    left: 0;
                }
            }
        }
    }

    .box-grey {
       > p {
            margin-bottom: rem(24px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(30px);
            line-height: rem(30px);
            color: $primary;

            strong {
                font-weight: 400;
            }
        }
    }

}

.text-formatted.field--type-text-with-summary {
    max-width: rem(1272px);
    margin: 0 auto;
    padding: 0 rem(12px);

    @include media(md) {
        padding: 0 rem(32px);
    }

    @include media(lg) {
        padding: 0 rem(24px);
    }

    a {
        padding: rem(10px) rem(16px);
        text-align: center;
        border: none;
        border-radius: 0;
        border: rem(1px) solid $secondary;
        font-family: $font-family-base;
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(20px);
        text-decoration: none !important;
        transition: all 0.3s ease;

        border-radius: rem(50px);
        color: $grey-700;
        border-color: $grey-300;
        background-color: $white;

        &:hover {
        border-color: $grey-300;
        background-color: $grey-50;
        color: $grey-700;
        }
    }
}