.node-news {
    max-width: rem(1216px);
    margin: 0 auto;
    padding: 0 rem(12px);

    &__content {
        font-family: $font-family-base;
    }

    &__date {
        margin-bottom: rem(8px);
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: rem(14px);
        line-height: rem(20px);
        color: $blue-700;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: rem(55px);

        .field--name-title {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 500;
            font-size: rem(30px);
            line-height: rem(38px);
            color: $primary;
        }
    }

    &__image {
        margin-bottom: rem(64px);
        img {
            border-radius: rem(12px);
        }
    }

    &__body {
        margin-bottom: rem(96px);

        .text-formatted {
            h2 {
                margin-bottom: rem(16px);
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(30px);
                line-height: rem(38px);
                color: $primary;
            }

            h3 {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 700;
                font-size: rem(20px);
                line-height: rem(30px);
                color: $primary;
            }

            h4,
            h5,
            h6 {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 600;
                font-size: rem(18px);
                line-height: rem(28px);
                color: $primary;
            }

            p {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: rem(18px);
                line-height: rem(28px);
                color: $secondary;

                a {
                    color: $secondary;
                    text-decoration: underline;
                }
            }

            ul,
            ol {
                li {
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: 400;
                    font-size: rem(18px);
                    line-height: rem(28px);
                    color: $secondary;
                }
            }
        }

        .field--name-field-media-oembed-video {
            position: relative;
            display: block;
            width: 100%;
            padding: 0;
            overflow: hidden;

            &::before {
                display: block;
                content: "";
                //padding-top: percentage(9 / 16);
                padding-top: 20%;
            }

            .field--name-field-media-oembed-video-item,
            iframe,
            embed,
            object,
            video {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    &__file {
        margin-bottom: rem(32px);
        padding: 0 rem(32px);
        border-radius: rem(8px);
        border: rem(1px) solid $blue-50;
        background-color: $blue-25;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .file {
            background-size: rem(40px);
            padding: rem(40px) rem(40px) rem(40px) rem(50px);

            a {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                color: $blue-600;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__link {
        margin-bottom: rem(32px);
        padding: rem(40px) rem(32px);
        border-radius: rem(8px);
        border: rem(1px) solid $blue-50;
        background-color: $blue-25;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin: 0;
            padding: rem(10px) rem(16px);
            text-align: center;
            border: none;
            border-radius: 0;
            border: rem(1px) solid $secondary;
            font-family: $font-family-base;
            font-weight: 600;
            font-size: rem(14px);
            line-height: rem(20px);
            text-decoration: none;
            transition: all 0.3s ease;

            border-radius: rem(50px);
            color: $white;
            border-color: $blue-600;
            background-color: $blue-600;

            &:hover {
                border-color: $blue-700;
                background-color: $blue-700;
                color: $white;
            }
        }
    }
}
