.node-challenge {
    max-width: rem(1272px);
    margin: 0 auto;
    padding: 0 rem(12px);

    .tab_sobre_reto {
        .cuerpo {
            max-width: rem(903px);
            width: 100%;

            .text-formatted {
                padding-left: 0;

                p {
                    a:not(.btn) {
                        text-decoration: underline;
                        border: none;
                        background: none;
                        padding: 0;
                        font-family: $font-family-base;
                        font-style: normal;
                        font-weight: 600;
                        font-size: rem(18px);
                        line-height: rem(28px);
                        color: $blue-600;
                        display: inline;

                        &:hover {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }
}

.challenge {
    &__header {
        padding: rem(62px) 0 rem(48px);
        display: flex;
        flex-direction: column-reverse;

        @include media(xl) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &-content {
            margin-top: rem(40px);
            text-align: center;

            @include media(xl) {
                margin-top: 0;
                padding-right: rem(24px);
                text-align: left;
            }
        }

        .title {
            margin-bottom: rem(12px);
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 400;
            font-size: rem(24px);
            line-height: rem(32px);
            letter-spacing: -0.02em;
            color: $black;

            @include media(xl) {
                font-size: rem(36px);
                line-height: rem(44px);
            }

            .field--name-title {
                margin-bottom: rem(12px);
                display: inline-flex;

                @include media(xl) {
                    margin-bottom: 0;
                }
            }

            a {
                color: $black;
                text-decoration: none;
            }
        }

        .tag {
            font-family: $font-family-base;
            font-style: normal;
            font-weight: 600;
            font-size: rem(16px);
            line-height: rem(24px);
            color: $blue-500;
            text-transform: uppercase;
            display: inline-flex;

            &.target {
                margin-right: rem(8px);
                padding: rem(4px) rem(10px);
                border-radius: rem(8px);
                border: rem(1px) solid $grey-300;
                background-color: $white;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                text-transform: inherit;
                color: $grey-700;
            }
        }

        .tags-rounded {
            display: flex;
        }

        .tags {
            margin-bottom: rem(12px);
            display: flex;
            justify-content: center;
            align-items: center;

            @include media(xl) {
                justify-content: flex-start;
            }

            .field--name-field-solucion-tipo {
                display: flex;
            }
            .field__item {
                margin-right: rem(8px);
                padding: rem(4px) rem(10px);
                border-radius: rem(8px);
                border: rem(1px) solid $grey-300;
                background-color: $white;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                color: $grey-700;
            }

            .target {
                margin-right: rem(8px);
                padding: rem(4px) rem(10px);
                border-radius: rem(8px);
                border: rem(1px) solid $grey-300;
                background-color: $white;
                font-weight: 500;
                font-size: rem(14px);
                line-height: rem(20px);
                text-align: center;
                color: $grey-700;

                &.pay {
                    padding-left: rem(24px);
                    position: relative;

                    &::before {
                        content: '';
                        width: rem(14px);
                        height: rem(14px);
                        background-image: url('../images/icons/icon-price.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: rem(8px);
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &-image {
            background-image: url('../images/svg/challenge-points.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @include media(md) {
                max-width: rem(488px);
                margin: 0 auto;
            }

            @include media(lg) {
                max-width: inherit;
                margin: 0;
                flex: 0 0 rem(488px);
            }

        }

        .view-votingapi-votes .view-content {
            justify-content: center;

            @include media(xl) {
                justify-content: flex-start;
            }
        }
    }

}



.challenge-content {
    .paragraph-pg-header {
        padding: 0;

        &.paragraph--title--Nueva_idea,
        &.paragraph--title--Nueva_experiencia {
            margin-bottom: rem(32px);
        }
    }
}